In [1]:
# import all the things!
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import os
from sklearn.linear_model import Ridge
from sklearn.grid_search import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.cross_validation import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.feature_selection import SelectKBest
from sklearn.metrics import roc_auc_score

In [2]:
data = pd.read_csv('../titanic.csv')

Would like to see if I can trace animal owners from this dataset. Then make a column with 1, 0 corresponding to whether they had animals or not and a column showing animal type, name, where animal was located (most were on deck F)

The ship had her own official cat named Jenny

A King Charles Spaniel and an elderly Airedale Terrier, owned by William Carter

Chow-Chow, a chow chow owned by Harry Anderson

A champion French Bulldog called Gamin de Pycombe, owned by Robert W. Daniel, who had bought him in England for the very high price of £150 (£12,575 in 2012 prices)

Kitty, another Airedale Terrier, owned by millionaire John Jacob Astor

A Pomeranian owned by Margaret Bechstein Hays, which she kept (probably surreptitiously) in her cabin

A dog owned by Elizabeth Rothschild, also kept in her cabin

A Pekingese called Sun Yat Sen, owned by Henry Sleeper Harper and his wife Myra

Frou-Frou, a Toy dog owned by Helen Bishop. The dog was allowed to stay in her cabin as the stewards considered it "too pretty" to put among the bigger dogs in the kennels

Ella Holmes White of New York brought four roosters and hens

Elizabeth Ramel Nye brought her yellow canary

Two dogs and a canary disembarked with the passengers who left the ship at Cherbourg, Titanic's first port of call after Southampton. The animals travelled on their own tickets; even the canary that left at Cherbourg had to be paid for, to the tune of 25 US cents (this explains the strange range of fares).

In [3]:
# want to pull out a single passengers name
data[data['Name'].str.contains('Carter')]

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
249,249,250,0,2,"Carter, Rev. Ernest Courtenay",male,54.0,1,0,244252,26.0,NaN,S
390,390,391,1,1,"Carter, Mr. William Ernest",male,36.0,1,2,113760,120.0,B96 B98,S
435,435,436,1,1,"Carter, Miss. Lucile Polk",female,14.0,1,2,113760,120.0,B96 B98,S
763,763,764,1,1,"Carter, Mrs. William Ernest (Lucile Polk)",female,36.0,1,2,113760,120.0,B96 B98,S
802,802,803,1,1,"Carter, Master. William Thornton II",male,11.0,1,2,113760,120.0,B96 B98,S
854,854,855,0,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0,1,0,244252,26.0,NaN,S

In [4]:
data[(data['Name'].str.contains('Daniel') & (data['Name'].str.contains('Robert')))]

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
607,607,608,1,1,"Daniel, Mr. Robert Williams",male,27.0,0,0,113804,30.5,NaN,S

In [43]:
# build function to run through and pluck out my pet owners and return a 1 for pet ownership
# then apply result to name column
def had_a_pet(x):
    if 'Daniel' in x:
        if 'Robert' in x:
            return 1 # had a pet
        else:
            return 0
    else: # didn't have a pet 
        return 0
# make sure to line up else 0 with first condition in below big func        
# print had_a_pet()

In [44]:
had_a_pet(data['Name'].iloc[0])

0

In [45]:
had_a_pet(data['Name'])

0

In [46]:
# apply the function to the name column of dataset
has_friend = data['Name'].apply(had_a_pet)

In [48]:
# shows that it found a person by the specified name and categorized them as 'with a pet'
has_friend.value_counts()

0    890
1      1
Name: Name, dtype: int64

In [50]:
# moved original code to work on adding all passenger names with pets into the loop
def had_a_pet_onboard(x):
    if 'Daniel' in x:
        if 'Robert' in x:
            if 'William' in x:
                if 'Carter' in x:
                    return 1 # had a pet
            else:
                return 0
        else:
            return 0
    else: # didn't have a pet 
        return 0

In [52]:
# something is off on my indentation within the function
furry_friends = data['Name'].apply(had_a_pet_onboard)
furry_friends.value_counts()

0.0    890
Name: Name, dtype: int64