In [139]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
from sklearn.linear_model import Ridge
from sklearn.grid_search import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.cross_validation import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report

In [2]:
import os
%pwd

u'/Users/Driz/DSI-CHI-1'

In [3]:
data = pd.read_csv('../data_sets/job_data.csv')

In [4]:
# looks like I might need to reset index to fix whatever the 'Unnamed' column is doing
data.head()

,Unnamed: 0,Company Name,High Salary,Job Title,Location,Salary,Summary
0,0,Digital Factory,0,Chief Data Scientist (equity position),"Chicago, IL",55000,Chief Data Scientist*. We are looking for an e...
1,1,Anomalix,0,Data Scientist,"Chicago, IL",55000,Data Scientist Responsibilities will include:....
2,2,GE Transportation,0,Senior Data Scientist,"Chicago, IL",55000,The Senior Data Scientist will demonstrate lea...
3,3,Google,0,"Machine Learning Deployment Engineer, Professi...","Chicago, IL",55000,Experience interpreting technical data and cre...
4,4,Civis Analytics,0,Data Scientist - Unstructured Data,"Chicago, IL",55000,"With a specialization in unstructured data, th..."

In [175]:
data.describe()
data['new_high_salary'] = data['Salary'].apply(lambda x: 1 if x > 100000 else 0)
data['new_high_salary'].describe()

count    1650.000000
mean        0.400000
std         0.490046
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: new_high_salary, dtype: float64

In [173]:
data.pivot_table(index='High Salary', values='Salary', aggfunc=np.max)

High Salary
0     80000
1    120000
Name: Salary, dtype: int64

In [7]:
data.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
data.head()

,Company Name,High Salary,Job Title,Location,Salary,Summary
0,Digital Factory,0,Chief Data Scientist (equity position),"Chicago, IL",55000,Chief Data Scientist*. We are looking for an e...
1,Anomalix,0,Data Scientist,"Chicago, IL",55000,Data Scientist Responsibilities will include:....
2,GE Transportation,0,Senior Data Scientist,"Chicago, IL",55000,The Senior Data Scientist will demonstrate lea...
3,Google,0,"Machine Learning Deployment Engineer, Professi...","Chicago, IL",55000,Experience interpreting technical data and cre...
4,Civis Analytics,0,Data Scientist - Unstructured Data,"Chicago, IL",55000,"With a specialization in unstructured data, th..."

In [26]:
data.columns

Index([u'Company Name', u'High Salary', u'Job Title', u'Location', u'Salary',
       u'Summary'],
      dtype='object')

In [27]:
data.Location.unique()

array(['Chicago, IL', 'Chicago, IL 60604 (Loop area)',
       'Chicago, IL 60611 (Near North Side area)',
       'Chicago, IL 60654 (Loop area)', 'Chicago, IL 60601 (Loop area)',
       'Chicago, IL 60606 (Loop area)', 'Deerfield, IL',
       'Chicago, IL 60603 (Loop area)',
       'Chicago, IL 60660 (Edgewater area)', 'Northbrook, IL',
       'Chicago Heights, IL', 'Northbrook, IL 60062', 'Des Plaines, IL',
       'Deerfield, IL 60015', 'Rolling Meadows, IL', 'Lemont, IL',
       'Chicago, IL 60642 (Portage Park area)'], dtype=object)

In [28]:
# rename
cols = ['Chicago, IL', 'Chicago, IL 60604',
       'Chicago, IL 60611',
       'Chicago, IL 60654', 'Chicago, IL 60601',
       'Chicago, IL 60606', 'Deerfield, IL',
       'Chicago, IL 60603',
       'Chicago, IL 60660', 'Northbrook, IL',
       'Chicago Heights, IL', 'Northbrook, IL', 'Des Plaines, IL',
       'Deerfield, IL', 'Rolling Meadows, IL', 'Lemont, IL',
       'Chicago, IL 60642']

In [30]:
df_locations.columns = cols

ValueError: Length mismatch: Expected axis has 17 elements, new values have 16 elements

In [ ]:
# now I need to think about dummie_variables and key words

In [18]:
df_locations = pd.get_dummies(data['Location'])

In [20]:
df_locations.head()

,"Chicago Heights, IL","Chicago, IL","Chicago, IL 60601 (Loop area)","Chicago, IL 60603 (Loop area)","Chicago, IL 60604 (Loop area)","Chicago, IL 60606 (Loop area)","Chicago, IL 60611 (Near North Side area)","Chicago, IL 60642 (Portage Park area)","Chicago, IL 60654 (Loop area)","Chicago, IL 60660 (Edgewater area)","Deerfield, IL","Deerfield, IL 60015","Des Plaines, IL","Lemont, IL","Northbrook, IL","Northbrook, IL 60062","Rolling Meadows, IL"
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
# rename cause the column titles are messy
cols = ['Chicago, IL', 'Chicago, IL 60604',
       'Chicago, IL 60611',
       'Chicago, IL 60654', 'Chicago, IL 60601',
       'Chicago, IL 60606', 'Deerfield, IL',
       'Chicago, IL 60603',
       'Chicago, IL 60660', 'Northbrook, IL',
       'Chicago Heights, IL', 'Northbrook, IL', 'Des Plaines, IL',
       'Deerfield, IL', 'Rolling Meadows, IL', 'Lemont, IL',
       'Chicago, IL 60642']

In [34]:
df_locations.columns = cols

In [35]:
df_locations.head()

,"Chicago, IL","Chicago, IL 60604","Chicago, IL 60611","Chicago, IL 60654","Chicago, IL 60601","Chicago, IL 60606","Deerfield, IL","Chicago, IL 60603","Chicago, IL 60660","Northbrook, IL","Chicago Heights, IL","Northbrook, IL","Des Plaines, IL","Deerfield, IL","Rolling Meadows, IL","Lemont, IL","Chicago, IL 60642"
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Here I want to pull common words from job title and job description
Possibly put into separate tables, not sure yet

In [70]:
vector_data = CountVectorizer(
    binary=True, # creates binary features (1,0)
    stop_words='english', #ignores common words
    max_features=20) #grabs top 50 common words

In [74]:
# builds matrix, row per website/column per word (using all filtered words)
summary_table = vector_data.fit_transform(data['Summary']).todense()
summary_table = pd.DataFrame(vector_matrix, columns=vector_data.get_feature_names())
summary_table.head()

,build,data,develop,engineers,experience,manage,management,mentor,mining,modeling,programs,rwi,scientist,scientists,services,smart,support,team,using,working
0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
2,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0
3,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [75]:
summary_table.describe()

,build,data,develop,engineers,experience,manage,management,mentor,mining,modeling,programs,rwi,scientist,scientists,services,smart,support,team,using,working
count,1650.000000,1650.000000,1650.000000,1650.000000,1650.000000,1650.000000,1650.000000,1650.000000,1650.000000,1650.000000,1650.000000,1650.000000,1650.00000,1650.000000,1650.000000,1650.000000,1650.000000,1650.000000,1650.000000,1650.000000
mean,0.272727,0.718182,0.151515,0.145455,0.290909,0.139394,0.151515,0.139394,0.148485,0.145455,0.139394,0.139394,0.19697,0.442424,0.139394,0.260606,0.139394,0.166667,0.154545,0.145455
std,0.445497,0.450022,0.358659,0.352665,0.454319,0.346462,0.358659,0.346462,0.355688,0.352665,0.346462,0.346462,0.39783,0.496825,0.346462,0.439098,0.346462,0.372791,0.361580,0.352665
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [76]:
# after this step go ahead and begin logistic regression
summary_table.sum().sort_values(ascending=False)

data          1185
scientists     730
experience     480
build          450
smart          430
scientist      325
team           275
using          255
management     250
develop        250
mining         245
engineers      240
working        240
modeling       240
mentor         230
manage         230
programs       230
rwi            230
services       230
support        230
dtype: int64

I also ran count vectorize max features through the entire data frame. I wanted to see if some key words that do not appear often may be a contributing factor in high salary. There was quite a bit to navigate through. Given more time I would probably go through them and pluck out interesting looking key words. I also noticed that it did not return the results I was hoping for. I wanted to see keywords such as: Spark, Hadoop, SQL, Python, Tableau, Machine Learning, Modeling, Predictive Learning, etc. I feel like these key words would be more fruitful in exploring the relationship between job postings and high salary. One reason using those key words was not possible in this project is that most of those terms were found when clicking through the job posting which brings you to a different web page (not always hosted by Indeed), which at this point, is beyond my scope of web scraping abilities.

In [ ]:
# vector on job title now and make a separate table

In [ ]:
vector_data = CountVectorizer(
    binary=True, # creates binary features (1,0)
    stop_words='english', #ignores common words
    max_features=20) #grabs top 50 common words

In [78]:
# builds matrix, row per website/column per word (using all filtered words)
job_title_table = vector_data.fit_transform(data['Job Title']).todense()
job_title_table = pd.DataFrame(job_title_table, columns=vector_data.get_feature_names())
job_title_table.head()

,chief,clinical,credit,data,developer,development,direc,director,end,engineer,exploratory,officer,pharmacology,rails,ruby,rwi,science,scientist,senior,software
0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0
3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [79]:
# after this step go ahead and begin logistic regression
job_title_table.sum().sort_values(ascending=False)

senior          510
science         460
data            430
developer       430
engineer        270
director        265
software        230
rwi             225
clinical        220
chief           220
pharmacology    215
officer         215
exploratory     215
rails           215
end             215
ruby            215
direc           215
development     215
credit          215
scientist       145
dtype: int64

Ok, so now I have four tables:
    data : original dataframe with all my variables
    summary_table : job summary count vectorized
    job_title_table : job title count vectorized
    df_locations : location variable with dummie_vars
    
Now I want to run logistic regressions on the last three tables and then possibly join all three into a new df and run regressions on that as well. 

Here we go!

In [81]:
summary_table.shape

(1650, 20)

In [82]:
job_title_table.shape

(1650, 20)

In [83]:
df_locations.shape

(1650, 17)

In [97]:
job_hunt = pd.DataFrame(result)
job_hunt.head()

,build,data,develop,engineers,experience,manage,management,mentor,mining,modeling,...,"Chicago, IL 60660","Northbrook, IL","Chicago Heights, IL","Northbrook, IL","Des Plaines, IL","Deerfield, IL","Rolling Meadows, IL","Lemont, IL","Chicago, IL 60642",High Salary
0,0,1,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0,1,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0,1,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0,1,0,0,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0,1,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

Going to re-do this with a join instead to prevent duplicate columns

In [98]:
job_hunt.columns

Index([              u'build',                u'data',             u'develop',
                 u'engineers',          u'experience',              u'manage',
                u'management',              u'mentor',              u'mining',
                  u'modeling',            u'programs',                 u'rwi',
                 u'scientist',          u'scientists',            u'services',
                     u'smart',             u'support',                u'team',
                     u'using',             u'working',               u'chief',
                  u'clinical',              u'credit',                u'data',
                 u'developer',         u'development',               u'direc',
                  u'director',                 u'end',            u'engineer',
               u'exploratory',             u'officer',        u'pharmacology',
                     u'rails',                u'ruby',                 u'rwi',
                   u'science',           u'scientist',              u'senior',
                  u'software',         u'Chicago, IL',   u'Chicago, IL 60604',
         u'Chicago, IL 60611',   u'Chicago, IL 60654',   u'Chicago, IL 60601',
         u'Chicago, IL 60606',       u'Deerfield, IL',   u'Chicago, IL 60603',
         u'Chicago, IL 60660',      u'Northbrook, IL', u'Chicago Heights, IL',
            u'Northbrook, IL',     u'Des Plaines, IL',       u'Deerfield, IL',
       u'Rolling Meadows, IL',          u'Lemont, IL',   u'Chicago, IL 60642',
               u'High Salary'],
      dtype='object')

In [99]:
new_table = summary_table.join(job_title_table, lsuffix='summary', rsuffix='job_table')

In [100]:
new_table.head()

,build,datasummary,develop,engineers,experience,manage,management,mentor,mining,modeling,...,exploratory,officer,pharmacology,rails,ruby,rwijob_table,science,scientistjob_table,senior,software
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
3,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [101]:
modeling_table = new_table.join(df_locations, lsuffix='location')

In [102]:
modeling_table.head()

,build,datasummary,develop,engineers,experience,manage,management,mentor,mining,modeling,...,"Chicago, IL 60603","Chicago, IL 60660","Northbrook, IL","Chicago Heights, IL","Northbrook, IL","Des Plaines, IL","Deerfield, IL","Rolling Meadows, IL","Lemont, IL","Chicago, IL 60642"
0,0,1,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,1,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,1,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,1,0,0,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,1,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

My modeling_table above contains all my variable columns that I want to work my logistic regressions off of. Key terms come from the summary unless otherwise listed in column heading.

In [103]:
# this is not easy identify due to large number of variables, look for better technique
modeling_table.corr()

,build,datasummary,develop,engineers,experience,manage,management,mentor,mining,modeling,...,"Chicago, IL 60603","Chicago, IL 60660","Northbrook, IL","Chicago Heights, IL","Northbrook, IL","Des Plaines, IL","Deerfield, IL","Rolling Meadows, IL","Lemont, IL","Chicago, IL 60642"
build,1.000000,-0.266735,-0.258775,-0.214047,0.266936,-0.246454,-0.258775,-0.246454,-0.255718,-0.233346,...,0.632088,-0.058655,-0.033761,-0.047818,-0.033761,-0.033761,-0.237033,-0.369274,-0.033761,-0.047818
datasummary,-0.266735,1.000000,0.264712,0.239337,0.386401,0.252108,-0.580658,0.252108,0.261585,0.239337,...,-0.617911,-0.010968,0.034536,0.048915,0.034536,0.034536,0.242471,-0.277218,0.034536,0.048915
develop,-0.258775,0.264712,1.000000,-0.126398,-0.270666,0.927986,-0.178571,0.927986,0.893113,0.904399,...,-0.163568,0.048571,-0.023297,-0.032998,-0.023297,-0.023297,-0.163568,0.586094,0.130466,0.184787
engineers,-0.214047,0.239337,-0.126398,1.000000,-0.245331,-0.166041,-0.174342,-0.166041,-0.172282,-0.145833,...,-0.159694,0.051043,-0.022746,-0.032216,-0.022746,-0.022746,-0.159694,-0.248788,-0.022746,0.189270
experience,0.266936,0.386401,-0.270666,-0.245331,1.000000,-0.257779,-0.252058,-0.257779,-0.267468,-0.245331,...,-0.247925,-0.061350,0.086074,-0.050016,0.086074,-0.035313,0.604318,-0.371156,-0.035313,-0.050016
manage,-0.246454,0.252108,0.927986,-0.166041,-0.257779,1.000000,-0.170069,1.000000,0.939168,0.950676,...,-0.155780,-0.038548,-0.022188,-0.031427,-0.022188,-0.022188,-0.155780,0.627831,0.136988,-0.031427
management,-0.258775,-0.580658,-0.178571,-0.174342,-0.252058,-0.170069,1.000000,-0.170069,-0.176462,-0.126398,...,-0.163568,-0.040476,-0.023297,0.075895,0.130466,-0.023297,-0.163568,0.566983,-0.023297,-0.032998
mentor,-0.246454,0.252108,0.927986,-0.166041,-0.257779,1.000000,-0.170069,1.000000,0.939168,0.950676,...,-0.155780,-0.038548,-0.022188,-0.031427,-0.022188,-0.022188,-0.155780,0.627831,0.136988,-0.031427
mining,-0.255718,0.261585,0.893113,-0.172282,-0.267468,0.939168,-0.176462,0.939168,1.000000,0.915470,...,-0.161636,-0.039997,-0.023022,-0.032608,-0.023022,-0.023022,-0.161636,0.596129,0.132025,-0.032608
modeling,-0.233346,0.239337,0.904399,-0.145833,-0.245331,0.950676,-0.126398,0.950676,0.915470,1.000000,...,-0.159694,-0.039517,-0.022746,-0.032216,-0.022746,-0.022746,-0.159694,0.606421,0.133631,-0.032216
programs,-0.246454,0.252108,0.927986,-0.166041,-0.257779,0.974740,-0.170069,0.974740,0.939168,0.950676,...,-0.155780,-0.038548,-0.022188,-0.031427,-0.022188,-0.022188,-0.155780,0.627831,0.136988,-0.031427
rwisummary,-0.246454,0.252108,0.927986,-0.166041,-0.238516,0.974740,-0.170069,0.974740,0.939168,0.950676,...,-0.155780,-0.038548,-0.022188,-0.031427,-0.022188,-0.022188,-0.155780,0.647615,0.136988,-0.031427
scientistsummary,0.466591,0.310242,-0.166785,-0.182717,0.454480,-0.199321,-0.188035,-0.199321,-0.185385,-0.182717,...,-0.191702,0.032841,-0.027305,-0.038673,-0.027305,0.111319,-0.191702,-0.298653,-0.027305,-0.038673
scientists,-0.504387,-0.038712,0.457377,0.463157,-0.557119,0.451806,0.355279,0.451806,0.400155,0.428546,...,-0.344795,0.043245,-0.049110,-0.069558,-0.049110,-0.049110,-0.344795,0.663168,0.061892,0.087662
services,0.598275,-0.584127,-0.121267,-0.116409,-0.257779,-0.161972,-0.170069,-0.161972,-0.168060,-0.166041,...,0.961775,-0.038548,-0.022188,-0.031427,-0.022188,-0.022188,-0.155780,-0.242691,-0.022188,0.194025
smart,0.969480,-0.287920,-0.250877,-0.244935,0.273313,-0.238932,-0.250877,-0.238932,-0.247913,-0.244935,...,0.651987,-0.056864,-0.032731,-0.046359,-0.032731,-0.032731,-0.229799,-0.358004,-0.032731,-0.046359
support,-0.246454,0.252108,0.927986,-0.166041,-0.238516,0.974740,-0.170069,0.974740,0.939168,0.950676,...,-0.155780,-0.038548,-0.022188,-0.031427,-0.022188,-0.022188,-0.155780,0.647615,0.136988,-0.031427
team,-0.255604,0.262071,0.831522,-0.161443,-0.286446,0.899922,-0.188982,0.899922,0.888014,0.853341,...,-0.173104,-0.042835,-0.024656,-0.034922,-0.024656,-0.024656,-0.173104,0.539360,0.123278,-0.034922
using,-0.242994,0.267824,-0.180671,0.846077,-0.255391,-0.172069,-0.180671,-0.172069,-0.131384,-0.176392,...,-0.165492,-0.040951,0.128949,0.074627,-0.023571,-0.023571,-0.165492,-0.257820,-0.023571,-0.033386
working,-0.252646,0.258442,-0.174342,-0.170213,0.625198,-0.166041,-0.174342,-0.166041,-0.172282,-0.170213,...,-0.159694,-0.039517,0.133631,-0.032216,-0.022746,-0.022746,0.938204,-0.248788,-0.022746,-0.032216
chief,0.620497,0.245703,-0.165748,-0.161823,0.592745,-0.157857,-0.165748,-0.157857,-0.163790,-0.161823,...,-0.151823,-0.037569,-0.021624,-0.030628,-0.021624,-0.021624,-0.151823,-0.236525,-0.021624,-0.030628
clinical,-0.240192,-0.606332,-0.165748,-0.161823,-0.251230,-0.157857,0.903329,-0.157857,-0.163790,-0.161823,...,-0.151823,0.056354,-0.021624,-0.030628,-0.021624,-0.021624,-0.151823,0.630285,-0.021624,-0.030628
credit,0.632088,0.242471,-0.163568,-0.159694,0.604318,-0.155780,-0.163568,-0.155780,-0.161636,-0.159694,...,-0.149826,-0.037075,-0.021340,-0.030225,-0.021340,-0.021340,-0.149826,-0.233414,-0.021340,-0.030225
datajob_table,-0.301553,0.341207,0.673283,-0.205774,-0.319464,0.677900,-0.231623,0.677900,0.683967,0.675351,...,-0.229799,0.015869,-0.032731,0.042585,-0.032731,0.092864,-0.229799,0.328864,0.092864,-0.046359
developer,0.302962,-0.287920,-0.250877,-0.244935,0.273313,-0.238932,-0.250877,-0.238932,-0.247913,-0.244935,...,0.651987,-0.056864,-0.032731,-0.046359,-0.032731,-0.032731,0.651987,-0.358004,-0.032731,-0.046359
development,-0.237033,-0.617911,-0.163568,-0.159694,-0.247925,-0.155780,0.915983,-0.155780,-0.161636,-0.159694,...,-0.149826,-0.037075,-0.021340,-0.030225,-0.021340,-0.021340,-0.149826,0.641889,-0.021340,-0.030225
direc,-0.237033,-0.617911,-0.163568,-0.159694,-0.247925,-0.155780,0.915983,-0.155780,-0.161636,-0.159694,...,-0.149826,-0.037075,-0.021340,-0.030225,-0.021340,-0.021340,-0.149826,0.641889,-0.021340,-0.030225
director,-0.267864,0.255664,0.873996,-0.180465,-0.243829,0.896243,-0.138807,0.896243,0.861814,0.872959,...,-0.169313,0.045059,-0.024116,-0.034157,0.126039,-0.024116,-0.169313,0.576072,0.126039,-0.034157
end,-0.237033,0.242471,-0.163568,-0.159694,0.604318,-0.155780,-0.163568,-0.155780,-0.161636,-0.159694,...,-0.149826,-0.037075,-0.021340,-0.030225,-0.021340,-0.021340,1.000000,-0.233414,-0.021340,-0.030225
engineer,-0.270868,0.277083,-0.164071,0.816557,-0.265280,-0.178017,-0.164071,-0.178017,-0.138636,-0.159256,...,-0.171213,-0.042367,-0.024386,-0.034540,-0.024386,-0.024386,-0.171213,-0.266733,-0.024386,-0.034540
exploratory,-0.237033,-0.617911,-0.163568,-0.159694,-0.247925,-0.155780,0.915983,-0.155780,-0.161636,-0.159694,...,-0.149826,-0.037075,-0.021340,-0.030225,-0.021340,-0.021340,-0.149826,0.641889,-0.021340,-0.030225
officer,0.632088,0.242471,-0.163568,-0.159694,0.604318,-0.155780,-0.163568,-0.155780,-0.161636,-0.159694,...,-0.149826,-0.037075,-0.021340,-0.030225,-0.021340,-0.021340,-0.149826,-0.233414,-0.021340,-0.030225
pharmacology,-0.237033,-0.617911,-0.163568,-0.159694,-0.247925,-0.155780,0.915983,-0.155780,-0.161636,-0.159694,...,-0.149826,-0.037075,-0.021340,-0.030225,-0.021340,-0.021340,-0.149826,0.641889,-0.021340,-0.030225
rails,0.632088,-0.617911,-0.163568,-0.159694,-0.247925,-0.155780,-0.163568,-0.155780,-0.161636,-0.159694,...,1.000000,-0.037075,-0.021340,-0.030225,-0.021340,-0.021340,-0.149826,-0.233414,-0.021340,-0.030225
ruby,0.632088,-0.617911,-0.163568,-0.159694,-0.247925,-0.155780,-0.163568,-0.155780,-0.161636,-0.159694,...,1.000000,-0.037075,-0.021340,-0.030225,-0.021340,-0.021340,-0.149826,-0.233414,-0.021340,-0.030225
rwijob_table,-0.243332,0.248915,0.940325,-0.163938,-0.254514,0.987334,-0.167915,0.987334,0.951566,0.963136,...,-0.153807,-0.038060,-0.021907,-0.031029,-0.021907,-0.021907,-0.153807,0.638978,0.138745,-0.031029
science,-0.380733,-0.256460,0.604281,-0.256508,-0.398229,0.647313,0.547737,0.647313,0.595622,0.606071,...,-0.240657,0.011651,-0.034277,-0.048549,-0.034277,-0.034277,-0.240657,0.954621,0.088674,-0.048549
scientistjob_table,-0.117979,0.146856,-0.101315,-0.097701,-0.151680,-0.124921,-0.131166,-0.124921,-0.069415,-0.097701,...,-0.120146,0.083040,-0.017113,0.113667,-0.017113,0.177618,-0.120146,-0.187176,-0.017113,-0.024238
senior,0.223534,-0.236922,-0.282643,-0.275949,0.235731,-0.269186,-0.282643,-0.269186,-0.279304,-0.275949,...,0.578710,0.005025,0.082427,-0.052229,-0.036875,0.082427,0.578710,-0.403335,-0.036875,-0.052229
software,-0.246454,0.252108,-0.170069,0.901044,-0.257779,-0.161972,-0.170069,-0.161972,-0.118850,-0.166041,...,-0.155780,-0.038548,-0.022188,-0.031427,-0.022188,-0.022188,-0.155780,-0.242691,-0.022188,-0.031427
"Chicago, IL",-0.033761,0.034536,-0.023297,-0.022746,-0.035313,-0.022188,-0.023297,-0.022188,-0.023022,-0.022746,...,-0.021340,-0.005281,-0.003040,-0.004305,-0.003040,-0.003040,-0.021340,-0.033246,-0.003040,-0.004305
"Chicago, IL 60604",0.144848,0.449376,-0.314987,0.446461,0.122521,-0.314955,-0.280568,-0.314955,-0.293218,-0.306126,...,-0.320050,-0.079197,-0.045585,-0.064566,-0.045585,-0.045585,-0.320050,-0.498607,-0.045585,-0.064566
"Chicago, IL 60611",-0.047818,0.048915,-0.032998,-0.032216,-0.050016,-0.031427,-0.032998,-0.031427,-0.032608,-0.032216,...,-0.030225,-0.007479,-0.004305,-0.006098,-0.004305,-0.004305,-0.030225,-0.047088,-0.004305,-0.006098
"Chicago, IL 60654",-0.058655,0.060000,-0.040476,-0.039517,-0.061350,-0.038548,-0.040476,-0.038548,-0.039997,-0.039517,...,-0.037075,-0.009174,-0.005281,-0.007479,-0.005281,-0.005281,-0.037075,-0.057759,-0.005281,-0.007479
"Chicago, IL 60601",-0.033761,0.034536,-0.023297,-0.022746,-0.035313,-0.022188,-0.023297,-0.022188,0.132025,-0.022746,...,-0.021340,-0.005281,-0.003040,-0.004305,-0.003040,-0.003040,-0.021340,-0.033246,-0.003040,-0.004305
"Chicago, IL 60606",-0.047818,0.048915,-0.032998,-0.032216,0.121913,-0.031427,-0.032998,-0.031427,-0.032608,-0.032216,...,-0.030225,-0.007479,-0.004305,-0.006098,-0.004305,-0.004305,-0.030225,-0.047088,-0.004305,-0.006098
"Deerfield, IL",-0.047818,-0.037870,-0.032998,-0.032216,-0.050016,-0.031427,0.075895,-0.031427,-0.032608,0.078527,...,-0.030225,-0.007479,-0.004305,-0.006098,-0.004305,-0.004305,-0.030225,-0.047088,-0.004305,-0.006098
"Chicago, IL 60603",0.632088,-0.617911,-0.163568,-0.159694,-0.247925,-0.155780,-0.163568,-0.155780,-0.161636,-0.159694,...,1.000000,-0.037075,-0.021340,-0.030225,-0.021340,-0.021340,-0.149826,-0.233414,-0.021340,-0.030225
"Chicago, IL 60660",-0.058655,-0.010968,0.048571,0.051043,-0.061350,-0.038548,-0.040476,-0.038548,-0.039997,-0.039517,...,-0.037075,1.000000,-0.005281,-0.007479,-0.005281,-0.005281,-0.037075,-0.057759,-0.005281,-0.007479
"Northbrook, IL",-0.033761,0.034536,-0.023297,-0.022746,0.086074,-0.022188,-0.023297,-0.022188,-0.023022,-0.022746,...,-0.021340,-0.005281,1.000000,-0.004305,-0.003040,-0.003040,-0.021340,-0.033246,-0.003040,-0.004305
"Chicago Heights, IL",-0.047818,0.048915,-0.032998,-0.032216,-0.050016,-0.031427,0.075895,-0.031427,-0.032608,-0.032216,...,-0.030225,-0.007479,-0.004305,1.000000,-0.004305,-0.004305,-0.030225,-0.047088,-0.004305,-0.006098
"Northbrook, IL",-0.033761,0.034536,-0.023297,-0.022746,0.086074,-0.022188,0.130466,-0.022188,-0.023022,-0.022746,...,-0.021340,-0.005281,-0.003040,-0.004305,1.000000,-0.003040,-0.021340,-0.033246,-0.003040,-0.004305
"Des Plaines, IL",-0.033761,0.034536,-0.023297,-0.022746,-0.035313,-0.022188,-0.023297,-0.022188,-0.023022,-0.022746,...,-0.021340,-0.005281,-0.003040,-0.004305,-0.003040,1.000000,-0.021340,-0.033246,-0.003040,-0.004305
"Deerfield, IL",-0.237033,0.242471,-0.163568,-0.159694,0.604318,-0.155780,-0.163568,-0.155780,-0.161636,-0.159694,...,-0.149826,-0.037075,-0.021340,-0.030225,-0.021340,-0.021340,1.000000,-0.233414,-0.021340,-0.030225
"Rolling Meadows, IL",-0.369274,-0.277218,0.586094,-0.248788,-0.371156,0.627831,0.566983,0.627831,0.596129,0.606421,...,-0.233414,-0.057759,-0.033246,-0.047088,-0.033246,-0.033246,-0.233414,1.000000,-0.033246,-0.047088
"Lemont, IL",-0.033761,0.034536,0.130466,-0.022746,-0.035313,0.136988,-0.023297,0.136988,0.132025,0.133631,...,-0.021340,-0.005281,-0.003040,-0.004305,-0.003040,-0.003040,-0.021340,-0.033246,1.000000,-0.004305
"Chicago, IL 60642",-0.047818,0.048915,0.184787,0.189270,-0.050016,-0.031427,-0.032998,-0.031427,-0.032608,-0.032216,...,-0.030225,-0.007479,-0.004305,-0.006098,-0.004305,-0.004305,-0.030225,-0.047088,-0.004305,1.000000

The correlation table above may show some hints as to which variables I want to test. The key words; develop, mentor, modeling, and mining seem to yield strong correlation scores. Will keep those key words in mind moving forward.

Let's build a plain ol' logistic regression and get going already!

In [ ]:
# target will be 'high_salary' will need to pull it from data['High Salary'] because it is not
# attached to my modeling_table df

In [113]:
# trash because it has ALL the variables
trash_model = LogisticRegression()

In [109]:
# uses all variables
everything = modeling_table.columns

In [176]:
y = data['High Salary']
X = modeling_table[everything]

In [177]:
data['High Salary'].value_counts()

0    990
1    660
Name: High Salary, dtype: int64

In [178]:
# can go back to change C and L2 
trash_model.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [179]:
trash_model.score(X, y)

0.59999999999999998

In [180]:
predictions = trash_model.predict(X)
predictions[0:]

array([0, 0, 0, ..., 0, 0, 0])

In [181]:
predict_proba = trash_model.predict_proba(X)
predict_proba[0:]

array([[ 0.59976053,  0.40023947],
       [ 0.60116555,  0.39883445],
       [ 0.60189321,  0.39810679],
       ...,
       [ 0.59993819,  0.40006181],
       [ 0.60002444,  0.39997556],
       [ 0.59994915,  0.40005085]])

In [182]:
# Confusion Matrix!
y_pred = trash_model.predict(X)
confusion = np.array(confusion_matrix(y, y_pred))
print confusion

[[990   0]
 [660   0]]

In [183]:
print classification_report(y, y_pred)

             precision    recall  f1-score   support

          0       0.60      1.00      0.75       990
          1       0.00      0.00      0.00       660

avg / total       0.36      0.60      0.45      1650

Well that did not go smoothly. Let's try less X variables

In [184]:
modeling_table.columns

Index([              u'build',         u'datasummary',             u'develop',
                 u'engineers',          u'experience',              u'manage',
                u'management',              u'mentor',              u'mining',
                  u'modeling',            u'programs',          u'rwisummary',
          u'scientistsummary',          u'scientists',            u'services',
                     u'smart',             u'support',                u'team',
                     u'using',             u'working',               u'chief',
                  u'clinical',              u'credit',       u'datajob_table',
                 u'developer',         u'development',               u'direc',
                  u'director',                 u'end',            u'engineer',
               u'exploratory',             u'officer',        u'pharmacology',
                     u'rails',                u'ruby',        u'rwijob_table',
                   u'science',  u'scientistjob_table',              u'senior',
                  u'software',         u'Chicago, IL',   u'Chicago, IL 60604',
         u'Chicago, IL 60611',   u'Chicago, IL 60654',   u'Chicago, IL 60601',
         u'Chicago, IL 60606',       u'Deerfield, IL',   u'Chicago, IL 60603',
         u'Chicago, IL 60660',      u'Northbrook, IL', u'Chicago Heights, IL',
            u'Northbrook, IL',     u'Des Plaines, IL',       u'Deerfield, IL',
       u'Rolling Meadows, IL',          u'Lemont, IL',   u'Chicago, IL 60642'],
      dtype='object')

In [185]:
model_2 = LogisticRegression()

In [186]:
y = data['High Salary']
X = modeling_table[['scientistjob_table', 'rails', 'ruby',
                   'developer', 'director', 'modeling',
                   'mining', 'chief', 'engineer', 
                   'Chicago, IL','Chicago, IL 60604',
                   'Chicago, IL 60611', 'Chicago, IL 60654',
                   'Chicago, IL 60601', 'Chicago, IL 60606',       
                   'Deerfield, IL', 'Chicago, IL 60603',
                   'Chicago, IL 60660', 'Northbrook, IL', 
                   'Chicago Heights, IL', 'Northbrook, IL',     
                   'Des Plaines, IL', 'Deerfield, IL',
                   'Rolling Meadows, IL', 'Lemont, IL', 'Chicago, IL 60642']]

In [187]:
model_2.fit(X,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [188]:
model_2.score(X,y)

0.59999999999999998

In [189]:
y_pred = model_2.predict(X)
confusion = np.array(confusion_matrix(y, y_pred))
print confusion

[[990   0]
 [660   0]]

In [203]:
model_3 = LogisticRegression(penalty='l1', C=0.01)

In [204]:
y = data['High Salary']
X = modeling_table[['scientistjob_table', 'rails', 'ruby',
                   'developer', 'director', 'modeling',
                   'mining', 'chief', 'engineer']]

In [205]:
model_3.fit(X,y)

LogisticRegression(C=0.01, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l1', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [206]:
model_3.score(X,y)

0.59999999999999998

In [207]:
X.head()

,scientistjob_table,rails,ruby,developer,director,modeling,mining,chief,engineer
0,1,0,0,0,0,0,0,1,0
1,1,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1
4,1,0,0,0,0,0,0,0,0

In [195]:
X['scientistjob_table'].describe()

count    1650.000000
mean        0.087879
std         0.283204
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: scientistjob_table, dtype: float64

In [196]:
model_single = LogisticRegression()

In [197]:
X = modeling_table[['chief', 'director']]
y = data['High Salary']

In [198]:
model_single.fit(X ,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [199]:
model_single.score(X,y)

0.59999999999999998

In [200]:
data['High Salary'].describe()

count    1650.000000
mean        0.400000
std         0.490046
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: High Salary, dtype: float64

In [201]:
corr_df = pd.DataFrame(data['High Salary']).join(modeling_table)

In [202]:
corr_df.corr()

,High Salary,build,datasummary,develop,engineers,experience,manage,management,mentor,mining,...,"Chicago, IL 60603","Chicago, IL 60660","Northbrook, IL","Chicago Heights, IL","Northbrook, IL","Des Plaines, IL","Deerfield, IL","Rolling Meadows, IL","Lemont, IL","Chicago, IL 60642"
High Salary,1.000000e+00,-2.379270e-16,8.227686e-17,-5.966211e-17,-9.378983e-17,-1.059935e-16,-1.338848e-16,-6.090707e-17,-1.338848e-16,4.504795e-17,...,2.064477e-16,3.308670e-16,-3.200649e-17,-4.887223e-17,-3.200649e-17,-3.200649e-17,1.964517e-16,-3.459958e-16,-2.950766e-17,-4.887223e-17
build,-2.379270e-16,1.000000e+00,-2.667353e-01,-2.587746e-01,-2.140469e-01,2.669359e-01,-2.464537e-01,-2.587746e-01,-2.464537e-01,-2.557175e-01,...,6.320881e-01,-5.865464e-02,-3.376119e-02,-4.781825e-02,-3.376119e-02,-3.376119e-02,-2.370331e-01,-3.692745e-01,-3.376119e-02,-4.781825e-02
datasummary,8.227686e-17,-2.667353e-01,1.000000e+00,2.647118e-01,2.393369e-01,3.864010e-01,2.521082e-01,-5.806581e-01,2.521082e-01,2.615846e-01,...,-6.179111e-01,-1.096781e-02,3.453579e-02,4.891537e-02,3.453579e-02,3.453579e-02,2.424714e-01,-2.772175e-01,3.453579e-02,4.891537e-02
develop,-5.966211e-17,-2.587746e-01,2.647118e-01,1.000000e+00,-1.263980e-01,-2.706660e-01,9.279864e-01,-1.785714e-01,9.279864e-01,8.931131e-01,...,-1.635683e-01,4.857066e-02,-2.329743e-02,-3.299773e-02,-2.329743e-02,-2.329743e-02,-1.635683e-01,5.860943e-01,1.304656e-01,1.847873e-01
engineers,-9.378983e-17,-2.140469e-01,2.393369e-01,-1.263980e-01,1.000000e+00,-2.453308e-01,-1.660412e-01,-1.743420e-01,-1.660412e-01,-1.722824e-01,...,-1.596943e-01,5.104266e-02,-2.274564e-02,-3.221619e-02,-2.274564e-02,-2.274564e-02,-1.596943e-01,-2.487882e-01,-2.274564e-02,1.892701e-01
experience,-1.059935e-16,2.669359e-01,3.864010e-01,-2.706660e-01,-2.453308e-01,1.000000e+00,-2.577789e-01,-2.520577e-01,-2.577789e-01,-2.674685e-01,...,-2.479254e-01,-6.134998e-02,8.607447e-02,-5.001563e-02,8.607447e-02,-3.531260e-02,6.043181e-01,-3.711560e-01,-3.531260e-02,-5.001563e-02
manage,-1.338848e-16,-2.464537e-01,2.521082e-01,9.279864e-01,-1.660412e-01,-2.577789e-01,1.000000e+00,-1.700692e-01,1.000000e+00,9.391682e-01,...,-1.557805e-01,-3.854841e-02,-2.218819e-02,-3.142663e-02,-2.218819e-02,-2.218819e-02,-1.557805e-01,6.278307e-01,1.369879e-01,-3.142663e-02
management,-6.090707e-17,-2.587746e-01,-5.806581e-01,-1.785714e-01,-1.743420e-01,-2.520577e-01,-1.700692e-01,1.000000e+00,-1.700692e-01,-1.764619e-01,...,-1.635683e-01,-4.047555e-02,-2.329743e-02,7.589478e-02,1.304656e-01,-2.329743e-02,-1.635683e-01,5.669825e-01,-2.329743e-02,-3.299773e-02
mentor,-1.338848e-16,-2.464537e-01,2.521082e-01,9.279864e-01,-1.660412e-01,-2.577789e-01,1.000000e+00,-1.700692e-01,1.000000e+00,9.391682e-01,...,-1.557805e-01,-3.854841e-02,-2.218819e-02,-3.142663e-02,-2.218819e-02,-2.218819e-02,-1.557805e-01,6.278307e-01,1.369879e-01,-3.142663e-02
mining,4.504795e-17,-2.557175e-01,2.615846e-01,8.931131e-01,-1.722824e-01,-2.674685e-01,9.391682e-01,-1.764619e-01,9.391682e-01,1.000000e+00,...,-1.616360e-01,-3.999739e-02,-2.302221e-02,-3.260791e-02,-2.302221e-02,-2.302221e-02,-1.616360e-01,5.961293e-01,1.320253e-01,-3.260791e-02
modeling,-1.224722e-16,-2.333463e-01,2.393369e-01,9.043992e-01,-1.458333e-01,-2.453308e-01,9.506760e-01,-1.263980e-01,9.506760e-01,9.154701e-01,...,-1.596943e-01,-3.951690e-02,-2.274564e-02,-3.221619e-02,-2.274564e-02,-2.274564e-02,-1.596943e-01,6.064212e-01,1.336306e-01,-3.221619e-02
programs,-1.275400e-16,-2.464537e-01,2.521082e-01,9.279864e-01,-1.660412e-01,-2.577789e-01,9.747397e-01,-1.700692e-01,9.747397e-01,9.391682e-01,...,-1.557805e-01,-3.854841e-02,-2.218819e-02,-3.142663e-02,-2.218819e-02,-2.218819e-02,-1.557805e-01,6.278307e-01,1.369879e-01,-3.142663e-02
rwisummary,-1.275400e-16,-2.464537e-01,2.521082e-01,9.279864e-01,-1.660412e-01,-2.385156e-01,9.747397e-01,-1.700692e-01,9.747397e-01,9.391682e-01,...,-1.557805e-01,-3.854841e-02,-2.218819e-02,-3.142663e-02,-2.218819e-02,-2.218819e-02,-1.557805e-01,6.476153e-01,1.369879e-01,-3.142663e-02
scientistsummary,-1.497077e-16,4.665906e-01,3.102423e-01,-1.667847e-01,-1.827172e-01,4.544796e-01,-1.993212e-01,-1.880352e-01,-1.993212e-01,-1.853853e-01,...,-1.917022e-01,3.284125e-02,-2.730460e-02,-3.867335e-02,-2.730460e-02,1.113187e-01,-1.917022e-01,-2.986534e-01,-2.730460e-02,-3.867335e-02
scientists,-7.106936e-17,-5.043872e-01,-3.871238e-02,4.573769e-01,4.631573e-01,-5.571186e-01,4.518062e-01,3.552793e-01,4.518062e-01,4.001553e-01,...,-3.447949e-01,4.324472e-02,-4.910996e-02,-6.955776e-02,-4.910996e-02,-4.910996e-02,-3.447949e-01,6.631680e-01,6.189200e-02,8.766184e-02
services,-1.436498e-16,5.982753e-01,-5.841274e-01,-1.212668e-01,-1.164093e-01,-2.577789e-01,-1.619718e-01,-1.700692e-01,-1.619718e-01,-1.680601e-01,...,9.617751e-01,-3.854841e-02,-2.218819e-02,-3.142663e-02,-2.218819e-02,-2.218819e-02,-1.557805e-01,-2.426908e-01,-2.218819e-02,1.940253e-01
smart,2.806615e-16,9.694796e-01,-2.879196e-01,-2.508767e-01,-2.449347e-01,2.733127e-01,-2.389319e-01,-2.508767e-01,-2.389319e-01,-2.479129e-01,...,6.519870e-01,-5.686448e-02,-3.273078e-02,-4.635882e-02,-3.273078e-02,-3.273078e-02,-2.297987e-01,-3.580041e-01,-3.273078e-02,-4.635882e-02
support,-1.275400e-16,-2.464537e-01,2.521082e-01,9.279864e-01,-1.660412e-01,-2.385156e-01,9.747397e-01,-1.700692e-01,9.747397e-01,9.391682e-01,...,-1.557805e-01,-3.854841e-02,-2.218819e-02,-3.142663e-02,-2.218819e-02,-2.218819e-02,-1.557805e-01,6.476153e-01,1.369879e-01,-3.142663e-02
team,-1.110233e-17,-2.556039e-01,2.620708e-01,8.315218e-01,-1.614430e-01,-2.864459e-01,8.999217e-01,-1.889822e-01,8.999217e-01,8.880138e-01,...,-1.731045e-01,-4.283529e-02,-2.465568e-02,-3.492151e-02,-2.465568e-02,-2.465568e-02,-1.731045e-01,5.393599e-01,1.232784e-01,-3.492151e-02
using,-9.223732e-17,-2.429940e-01,2.678245e-01,-1.806712e-01,8.460767e-01,-2.553908e-01,-1.720690e-01,-1.806712e-01,-1.720690e-01,-1.313843e-01,...,-1.654917e-01,-4.095149e-02,1.289493e-01,7.462696e-02,-2.357138e-02,-2.357138e-02,-1.654917e-01,-2.578200e-01,-2.357138e-02,-3.338574e-02
working,-9.632205e-17,-2.526456e-01,2.584422e-01,-1.743420e-01,-1.702128e-01,6.251978e-01,-1.660412e-01,-1.743420e-01,-1.660412e-01,-1.722824e-01,...,-1.596943e-01,-3.951690e-02,1.336306e-01,-3.221619e-02,-2.274564e-02,-2.274564e-02,9.382039e-01,-2.487882e-01,-2.274564e-02,-3.221619e-02
chief,-3.170710e-16,6.204966e-01,2.457031e-01,-1.657484e-01,-1.618227e-01,5.927451e-01,-1.578567e-01,-1.657484e-01,-1.578567e-01,-1.637903e-01,...,-1.518227e-01,-3.756904e-02,-2.162447e-02,-3.062819e-02,-2.162447e-02,-2.162447e-02,-1.518227e-01,-2.365250e-01,-2.162447e-02,-3.062819e-02
clinical,-3.616165e-16,-2.401922e-01,-6.063318e-01,-1.657484e-01,-1.618227e-01,-2.512297e-01,-1.578567e-01,9.033287e-01,-1.578567e-01,-1.637903e-01,...,-1.518227e-01,5.635356e-02,-2.162447e-02,-3.062819e-02,-2.162447e-02,-2.162447e-02,-1.518227e-01,6.302853e-01,-2.162447e-02,-3.062819e-02
credit,1.960437e-16,6.320881e-01,2.424714e-01,-1.635683e-01,-1.596943e-01,6.043181e-01,-1.557805e-01,-1.635683e-01,-1.557805e-01,-1.616360e-01,...,-1.498258e-01,-3.707490e-02,-2.134004e-02,-3.022535e-02,-2.134004e-02,-2.134004e-02,-1.498258e-01,-2.334140e-01,-2.134004e-02,-3.022535e-02
datajob_table,2.221513e-17,-3.015533e-01,3.412070e-01,6.732830e-01,-2.057737e-01,-3.194636e-01,6.778997e-01,-2.316234e-01,6.778997e-01,6.839667e-01,...,-2.297987e-01,1.586916e-02,-3.273078e-02,4.258543e-02,-3.273078e-02,9.286408e-02,-2.297987e-01,3.288642e-01,9.286408e-02,-4.635882e-02
developer,2.747166e-16,3.029624e-01,-2.879196e-01,-2.508767e-01,-2.449347e-01,2.733127e-01,-2.389319e-01,-2.508767e-01,-2.389319e-01,-2.479129e-01,...,6.519870e-01,-5.686448e-02,-3.273078e-02,-4.635882e-02,-3.273078e-02,-3.273078e-02,6.519870e-01,-3.580041e-01,-3.273078e-02,-4.635882e-02
development,2.137916e-16,-2.370331e-01,-6.179111e-01,-1.635683e-01,-1.596943e-01,-2.479254e-01,-1.557805e-01,9.159827e-01,-1.557805e-01,-1.616360e-01,...,-1.498258e-01,-3.707490e-02,-2.134004e-02,-3.022535e-02,-2.134004e-02,-2.134004e-02,-1.498258e-01,6.418885e-01,-2.134004e-02,-3.022535e-02
direc,2.137916e-16,-2.370331e-01,-6.179111e-01,-1.635683e-01,-1.596943e-01,-2.479254e-01,-1.557805e-01,9.159827e-01,-1.557805e-01,-1.616360e-01,...,-1.498258e-01,-3.707490e-02,-2.134004e-02,-3.022535e-02,-2.134004e-02,-2.134004e-02,-1.498258e-01,6.418885e-01,-2.134004e-02,-3.022535e-02
director,-2.408097e-17,-2.678636e-01,2.556642e-01,8.739956e-01,-1.804655e-01,-2.438295e-01,8.962432e-01,-1.388070e-01,8.962432e-01,8.618137e-01,...,-1.693134e-01,4.505923e-02,-2.411571e-02,-3.415672e-02,1.260387e-01,-2.411571e-02,-1.693134e-01,5.760721e-01,1.260387e-01,-3.415672e-02
end,1.964517e-16,-2.370331e-01,2.424714e-01,-1.635683e-01,-1.596943e-01,6.043181e-01,-1.557805e-01,-1.635683e-01,-1.557805e-01,-1.616360e-01,...,-1.498258e-01,-3.707490e-02,-2.134004e-02,-3.022535e-02,-2.134004e-02,-2.134004e-02,1.000000e+00,-2.334140e-01,-2.134004e-02,-3.022535e-02
engineer,7.518102e-18,-2.708682e-01,2.770828e-01,-1.640714e-01,8.165570e-01,-2.652802e-01,-1.780172e-01,-1.640714e-01,-1.780172e-01,-1.386362e-01,...,-1.712126e-01,-4.236713e-02,-2.438621e-02,-3.453985e-02,-2.438621e-02,-2.438621e-02,-1.712126e-01,-2.667325e-01,-2.438621e-02,-3.453985e-02
exploratory,2.137916e-16,-2.370331e-01,-6.179111e-01,-1.635683e-01,-1.596943e-01,-2.479254e-01,-1.557805e-01,9.159827e-01,-1.557805e-01,-1.616360e-01,...,-1.498258e-01,-3.707490e-02,-2.134004e-02,-3.022535e-02,-2.134004e-02,-2.134004e-02,-1.498258e-01,6.418885e-01,-2.134004e-02,-3.022535e-02
officer,1.960437e-16,6.320881e-01,2.424714e-01,-1.635683e-01,-1.596943e-01,6.043181e-01,-1.557805e-01,-1.635683e-01,-1.557805e-01,-1.616360e-01,...,-1.498258e-01,-3.707490e-02,-2.134004e-02,-3.022535e-02,-2.134004e-02,-2.134004e-02,-1.498258e-01,-2.334140e-01,-2.134004e-02,-3.022535e-02
pharmacology,2.137916e-16,-2.370331e-01,-6.179111e-01,-1.635683e-01,-1.596943e-01,-2.479254e-01,-1.557805e-01,9.159827e-01,-1.557805e-01,-1.616360e-01,...,-1.498258e-01,-3.707490e-02,-2.134004e-02,-3.022535e-02,-2.134004e-02,-2.134004e-02,-1.498258e-01,6.418885e-01,-2.134004e-02,-3.022535e-02
rails,2.064477e-16,6.320881e-01,-6.179111e-01,-1.635683e-01,-1.596943e-01,-2.479254e-01,-1.557805e-01,-1.635683e-01,-1.557805e-01,-1.616360e-01,...,1.000000e+00,-3.707490e-02,-2.134004e-02,-3.022535e-02,-2.134004e-02,-2.134004e-02,-1.498258e-01,-2.334140e-01,-2.134004e-02,-3.022535e-02
ruby,2.064477e-16,6.320881e-01,-6.179111e-01,-1.635683e-01,-1.596943e-01,-2.479254e-01,-1.557805e-01,-1.635683e-01,-1.557805e-01,-1.616360e-01,...,1.000000e+00,-3.707490e-02,-2.134004e-02,-3.022535e-02,-2.134004e-02,-2.134004e-02,-1.498258e-01,-2.334140e-01,-2.134004e-02,-3.022535e-02
rwijob_table,-1.695460e-16,-2.433321e-01,2.489150e-01,9.403247e-01,-1.639381e-01,-2.545139e-01,9.873340e-01,-1.679151e-01,9.873340e-01,9.515661e-01,...,-1.538074e-01,-3.806016e-02,-2.190715e-02,-3.102858e-02,-2.190715e-02,-2.190715e-02,-1.538074e-01,6.389785e-01,1.387453e-01,-3.102858e-02
science,-1.418186e-16,-3.807335e-01,-2.564595e-01,6.042814e-01,-2.565083e-01,-3.982292e-01,6.473130e-01,5.477371e-01,6.473130e-01,5.956223e-01,...,-2.406571e-01,1.165137e-02,-3.427737e-02,-4.854936e-02,-3.427737e-02,-3.427737e-02,-2.406571e-01,9.546207e-01,8.867406e-02,-4.854936e-02
scientistjob_table,-1.241310e-16,-1.179793e-01,1.468565e-01,-1.013145e-01,-9.770057e-02,-1.516801e-01,-1.249210e-01,-1.311661e-01,-1.249210e-01,-6.941466e-02,...,-1.201459e-01,8.304042e-02,-1.711267e-02,1.136671e-01,-1.711267e-02,1.776177e-01,-1.201459e-01,-1.871757e-01,-1.711267e-02,-2.423784e-02
senior,-1.683709e-16,2.235339e-01,-2.369221e-01,-2.826433e-01,-2.759489e-01,2.357309e-01,-2.691860e-01,-2.826433e-01,-2.691860e-01,-2.793042e-01,...,5.787095e-01,5.024689e-03,8.242698e-02,-5.222888e-02,-3.687523e-02,8.242698e-02,5.787095e-01,-4.033354e-01,-3.687523e-02,-5.222888e-02
software,-9.646047e-17,-2.464537e-01,2.521082e-01,-1.700692e-01,9.010441e-01,-2.577789e-01,-1.619718e-01,-1.700692e-01,-1.619718e-01,-1.188500e-01,...,-1.557805e-01,-3.854841e-02,-2.218819e-02,-3.142663e-02,-2.218819e-02,-2.218819e-02,-1.557805e-01,-2.426908e-01,-2.218819e-02,-3.142663e-02
"Chicago, IL",-3.200649e-17,-3.376119e-02,3.453579e-02,-2.329743e-02,-2.274564e-02,-3.531260e-02,-2.218819e-02,-2.329743e-02,-2.218819e-02,-2.302221e-02,...,-2.134004e-02,-5.280667e-03,-3.039514e-03,-4.305069e-03,-3.039514e-03,-3.039514e-03,-2.134004e-02,-3.324572e-02,-3.039514e-03,-4.305069e-03
"Chicago, IL 60604",-2.907225e-16,1.448478e-01,4.493761e-01,-3.149869e-01,4.464608e-01,1.225206e-01,-3.149546e-01,-2.805678e-01,-3.149546e-01,-2.932183e-01,...,-3.200499e-01,-7.919743e-02,-4.558547e-02,-6.456579e-02,-4.558547e-02,-4.558547e-02,-3.200499e-01,-4.986066e-01,-4.558547e-02,-6.456579e-02
"Chicago, IL 60611",-4.533297e-17,-4.781825e-02,4.891537e-02,-3.299773e-02,-3.221619e-02,-5.001563e-02,-3.142663e-02,-3.299773e-02,-3.142663e-02,-3.260791e-02,...,-3.022535e-02,-7.479367e-03,-4.305069e-03,-6.097561e-03,-4.305069e-03,-4.305069e-03,-3.022535e-02,-4.708816e-02,-4.305069e-03,-6.097561e-03
"Chicago, IL 60654",3.308670e-16,-5.865464e-02,6.000039e-02,-4.047555e-02,-3.951690e-02,-6.134998e-02,-3.854841e-02,-4.047555e-02,-3.854841e-02,-3.999739e-02,...,-3.707490e-02,-9.174312e-03,-5.280667e-03,-7.479367e-03,-5.280667e-03,-5.280667e-03,-3.707490e-02,-5.775910e-02,-5.280667e-03,-7.479367e-03
"Chicago, IL 60601",-3.450532e-17,-3.376119e-02,3.453579e-02,-2.329743e-02,-2.274564e-02,-3.531260e-02,-2.218819e-02,-2.329743e-02,-2.218819e-02,1.320253e-01,...,-2.134004e-02,-5.280667e-03,-3.039514e-03,-4.305069e-03,-3.039514e-03,-3.039514e-03,-2.134004e-02,-3.324572e-02,-3.039514e-03,-4.305069e-03
"Chicago, IL 60606",-4.887223e-17,-4.781825e-02,4.891537e-02,-3.299773e-02,-3.221619e-02,1.219131e-01,-3.142663e-02,-3.299773e-02,-3.142663e-02,-3.260791e-02,...,-3.022535e-02,-7.479367e-03,-4.305069e-03,-6.097561e-03,-4.305069e-03,-4.305069e-03,-3.022535e-02,-4.708816e-02,-4.305069e-03,-6.097561e-03
"Deerfield, IL",-5.595075e-17,-4.781825e-02,-3.786997e-02,-3.299773e-02,-3.221619e-02,-5.001563e-02,-3.142663e-02,7.589478e-02,-3.142663e-02,-3.260791e-02,...,-3.022535e-02,-7.479367e-03,-4.305069e-03,-6.097561e-03,-4.305069e-03,-4.305069e-03,-3.022535e-02,-4.708816e-02,-4.305069e-03,-6.097561e-03
"Chicago, IL 60603",2.064477e-16,6.320881e-01,-6.179111e-01,-1.635683e-01,-1.596943e-01,-2.479254e-01,-1.557805e-01,-1.635683e-01,-1.557805e-01,-1.616360e-01,...,1.000000e+00,-3.707490e-02,-2.134004e-02,-3.022535e-02,-2.134004e-02,-2.134004e-02,-1.498258e-01,-2.334140e-01,-2.134004e-02,-3.022535e-02
"Chicago, IL 60660",3.308670e-16,-5.865464e-02,-1.096781e-02,4.857066e-02,5.104266e-02,-6.134998e-02,-3.854841e-02,-4.047555e-02,-3.854841e-02,-3.999739e-02,...,-3.707490e-02,1.000000e+00,-5.280667e-03,-7.479367e-03,-5.280667e-03,-5.280667e-03,-3.707490e-02,-5.775910e-02,-5.280667e-03,-7.479367e-03
"Northbrook, IL",-3.200649e-17,-3.376119e-02,3.453579e-02,-2.329743e-02,-2.274564e-02,8.607447e-02,-2.218819e-02,-2.329743e-02,-2.218819e-02,-2.302221e-02,...,-2.134004e-02,-5.280667e-03,1.000000e+00,-4.305069e-03,-3.039514e-03,-3.039514e-03,-2.134004e-02,-3.324572e-02,-3.039514e-03,-4.305069e-03
"Chicago Heights, IL",-4.887223e-17,-4.781825e-02,4.891537e-02,-3.299773e-02,-3.221619e-02,-5.001563e-02,-3.142663e-02,7.589478e-02,-3.142663e-02,-3.260791e-02,...,-3.022535e-02,-7.479367e-03,-4.305069e-03,1.000000e+00,-4.305069e-03,-4.305069e-03,-3.022535e-02,-4.708816e-02,-4.305069e-03,-6.097561e-03
"Northbrook, IL",-3.200649e-17,-3.376119e-02,3.453579e-02,-2.329743e-02,-2.274564e-02,8.607447e-02,-2.218819e-02,1.304656e-01,-2.218819e-02,-2.302221e-02,...,-2.134004e-02,-5.280667e-03,-3.039514e-03,-4.305069e-03,1.000000e+00,-3.039514e-03,-2.134004e-02,-3.324572e-02,-3.039514e-03,-4.305069e-03
"Des Plaines, IL",-3.200649e-17,-3.376119e-02,3.453579e-02,-2.329743e-02,-2.274564e-02,-3.531260e-02,-2.218819e-02,-2.329743e-02,-2.218819e-02,-2.302221e-02,...,-2.134004e-02,-5.280667e-03,-3.039514e-03,-4.305069e-03,-3.039514e-03,1.000000e+00,-2.134004e-02,-3.324572e-02,-3.039514e-03,-4.305069e-03
"Deerfield, IL",1.964517e-16,-2.370331e-01,2.424714e-01,-1.635683e-01,-1.596943e-01,6.043181e-01,-1.557805e-01,-1.635683e-01,-1.557805e-01,-1.616360e-01,...,-1.498258e-01,-3.707490e-02,-2.134004e-02,-3.022535e-02,-2.134004e-02,-2.134004e-02,1.000000e+00,-2.334140e-01,-2.134004e-02,-3.022535e-02
"Rolling Meadows, IL",-3.459958e-16,-3.692745e-01,-2.772175e-01,5.860943e-01,-2.487882e-01,-3.711560e-01,6.278307e-01,5.669825e-01,6.278307e-01,5.961293e-01,...,-2.334140e-01,-5.775910e-02,-3.324572e-02,-4.708816e-02,-3.324572e-02,-3.324572e-02,-2.334140e-01,1.000000e+00,-3.324572e-02,-4.708816e-02
"Lemont, IL",-2.950766e-17,-3.376119e-02,3.453579e-02,1.304656e-01,-2.274564e-02,-3.531260e-02,1.369879e-01,-2.329743e-02,1.369879e-01,1.320253e-01,...,-2.134004e-02,-5.280667e-03,-3.039514e-03,-4.305069e-03,-3.039514e-03,-3.039514e-03,-2.134004e-02,-3.324572e-02,1.000000e+00,-4.305069e-03
"Chicago, IL 60642",-4.887223e-17,-4.781825e-02,4.891537e-02,1.847873e-01,1.892701e-01,-5.001563e-02,-3.142663e-02,-3.299773e-02,-3.142663e-02,-3.260791e-02,...,-3.022535e-02,-7.479367e-03,-4.305069e-03,-6.097561e-03,-4.305069e-03,-4.305069e-03,-3.022535e-02,-4.708816e-02,-4.305069e-03,1.000000e+00

In [171]:
for column in job_hunt.columns:
    print column

build
data
develop
engineers
experience
manage
management
mentor
mining
modeling
programs
rwi
scientist
scientists
services
smart
support
team
using
working
chief
clinical
credit
data
developer
development
direc
director
end
engineer
exploratory
officer
pharmacology
rails
ruby
rwi
science
scientist
senior
software
Chicago, IL
Chicago, IL 60604
Chicago, IL 60611
Chicago, IL 60654
Chicago, IL 60601
Chicago, IL 60606
Deerfield, IL
Chicago, IL 60603
Chicago, IL 60660
Northbrook, IL
Chicago Heights, IL
Northbrook, IL
Des Plaines, IL
Deerfield, IL
Rolling Meadows, IL
Lemont, IL
Chicago, IL 60642
High Salary

In [174]:
print corr_df[['High Salary', 'scientist']]

KeyError: "['scientist'] not in index"

Just playing around

In [208]:
data.head()

,Company Name,High Salary,Job Title,Location,Salary,Summary,new_high_salary
0,Digital Factory,0,Chief Data Scientist (equity position),"Chicago, IL",55000,Chief Data Scientist*. We are looking for an e...,0
1,Anomalix,0,Data Scientist,"Chicago, IL",55000,Data Scientist Responsibilities will include:....,0
2,GE Transportation,0,Senior Data Scientist,"Chicago, IL",55000,The Senior Data Scientist will demonstrate lea...,0
3,Google,0,"Machine Learning Deployment Engineer, Professi...","Chicago, IL",55000,Experience interpreting technical data and cre...,0
4,Civis Analytics,0,Data Scientist - Unstructured Data,"Chicago, IL",55000,"With a specialization in unstructured data, th...",0

In [210]:
data['Location'].value_counts()

Chicago, IL                                 670
Northbrook, IL                              440
Lemont, IL                                  215
Chicago, IL 60642 (Portage Park area)       215
Chicago, IL 60654 (Loop area)                15
Chicago, IL 60603 (Loop area)                15
Rolling Meadows, IL                          10
Chicago, IL 60606 (Loop area)                10
Chicago, IL 60601 (Loop area)                10
Chicago, IL 60611 (Near North Side area)     10
Deerfield, IL                                10
Northbrook, IL 60062                          5
Chicago, IL 60660 (Edgewater area)            5
Chicago, IL 60604 (Loop area)                 5
Chicago Heights, IL                           5
Des Plaines, IL                               5
Deerfield, IL 60015                           5
Name: Location, dtype: int64

In [214]:
data[['Company Name', 'Job Title', 'Location', 'Summary']].duplicated().sum()

1572

In [216]:
data['unique_id'] = data['Company Name'] + data['Job Title'] + data['Location'] + data['Summary']
data['unique_id'].duplicated().sum()

1572

In [218]:
data = data.sort_values(by='Salary', ascending=True)
data.head()

,Company Name,High Salary,Job Title,Location,Salary,Summary,new_high_salary,unique_id
0,Digital Factory,0,Chief Data Scientist (equity position),"Chicago, IL",55000,Chief Data Scientist*. We are looking for an e...,0,Digital FactoryChief Data Scientist (equity po...
224,Argonne National Laboratory,0,Senior Front End Developer,"Lemont, IL",55000,"The KBase data interfaces (for sharing, displa...",0,Argonne National LaboratorySenior Front End De...
223,Bolstr,0,Chief Credit Officer,"Chicago, IL",55000,Excited to use your experience to build a cred...,0,"BolstrChief Credit OfficerChicago, ILExcited t..."
222,Civis Analytics,0,Software Engineer,"Chicago, IL",55000,Political technology and data. Data visualizat...,0,"Civis AnalyticsSoftware EngineerChicago, ILPol..."
221,Astellas Pharmaceuticals,0,"Clinical Pharmacology Exploratory Development,...","Northbrook, IL",55000,Supervise 1-3 junior CPED scientists. May ...,0,Astellas PharmaceuticalsClinical Pharmacology ...

In [221]:
deduped_data = data.drop_duplicates(subset='unique_id', keep='last')

In [222]:
deduped_data.count()

Company Name       78
High Salary        78
Job Title          78
Location           78
Salary             78
Summary            78
new_high_salary    78
unique_id          78
dtype: int64

In [224]:
deduped_data['Salary'].describe()

count        78.0
mean     120000.0
std           0.0
min      120000.0
25%      120000.0
50%      120000.0
75%      120000.0
max      120000.0
Name: Salary, dtype: float64

In [225]:
data['unique_id'].value_counts()

AstellasDirector, RWI Data ScienceNorthbrook, ILDevelop data mining and/or data modeling plans to support RWI&A projects and programs. Manage, mentor and develop a high performing data scientists team through...                                                              215
Civis AnalyticsSoftware EngineerChicago, ILPolitical technology and data. Data visualization for the web (using D3 or similar). Engineers collaborate across departments with our data scientists and...                                                                         215
Argonne National LaboratorySenior Front End DeveloperLemont, ILThe KBase data interfaces (for sharing, displaying and accessing biological data),. Experience working with scientific datasets and developing data...                                                            215
BolstrChief Credit OfficerChicago, ILExcited to use your experience to build a credit methodology and decision tree from scratch alongside a wicked smart data scientist....                                                                                                     215
Astellas PharmaceuticalsClinical Pharmacology Exploratory Development, Science Direc...Northbrook, IL Supervise 1-3 junior CPED scientists.  May have functional management of scientists.  May have direct reporting CPED scientists who are responsible for...              215
NCSA SportsSenior Ruby on Rails DeveloperChicago, IL 60642 (Portage Park area)Design, build and maintain reliable Ruby code within an existing Rails applicationSplit out small, well-defined services in smart and secure waysMentor other...                                   215
NJF SearchMachine Learning ResearcherChicago, ILAs such, the role involves developing novel machine learning techniques and applying them to seek patterns in large, dirty and noisy data sets....                                                                                 5
IBMSoftware Engineer-Data and AlgorithmsChicago, ILThis position is part of Watson Analytics Advanced Analysis team, which harnesses the power of cutting edge statistical, data mining, NLP and cognitive...                                                                     5
GE TransportationSenior Data ScientistChicago, ILThe Senior Data Scientist will demonstrate leadership in communicating business goals, programs, and processes for multiple areas or business / market segments....                                                               5
CapgeminiVice President - Global Digital-AnalyticsChicago, ILInsights & Data. (big data, enterprise content management, data architecture, people and operational analytics, analytics-as-a-service) and....                                                                       5
McKinsey & CompanySenior Manager Learning PortfolioChicago, ILAs one of the fastest-growing parts of our firm, New Ventures has more than 1,000 dedicated professionals (including more than 800 analysts and data scientists)...                                                  5
Workbridge AssociatesNatural Language Processing ScientistChicago, ILHiring for a Senior Data Scientist with a strong Natural Language Processing background for a major healthcare corporation that is building out a new data...                                                 5
GoogleMachine Learning Deployment Engineer, Professional Services,...Chicago, ILExperience interpreting technical data and creating reports with data. Experience with data analytics and/or data visualization techniques and software....                                        5
Workbridge AssociatesSenior Data Scientist (H20, Python, and R)Chicago, ILA major Marketing company based in downtown Chicago are looking for a Senior-level Data Scientist to join their growing Data Science team....                                                            5
Chamberlain AdvisorsSenior Quantitative AnalystChicago, ILManger Notes: Experience with any major bank is good. Also, hedge fund experience is good. Experience in volatility products such as VIX, variance swaps                                                                 5
Workbridge AssociatesDirector of Data ScienceChicago, ILBig Data with Hadoop, Hive, Impala. Mid, Senior, Lead, Data, Scientist, Machine, Learning, Predictive, Analytics, Engineer, Developer, Python, R, Hadoop, Hive,...                                                         5
Trunk ClubDirector of Data ScienceChicago, IL 60654 (Loop area)Helping data scientists develop algorithms in our relevance and recommender systems; For a data scientist, Trunk Club is a retail dream....                                                                         5
Allstate InsuranceGeospatial Data ScientistChicago, IL 60601 (Loop area)Manages data and data requests to improve the accuracy of our data and decisions made from data analysis. Strong understanding of geospatial data....                                                      5
NJF SearchData Scientist - High Frequency TradingChicago, ILAs a data scientist you will be applying statistical modelling techniques to huge structured, and unstructured data sets with a view to optimize these models...                                                       5
VitalSource StaffingData Scientist - Multiple Roles AvailableChicago, ILQualifications for Data Scientist Role:. 1+ years of experimental data modeling experience. They need talented engineers and data scientists to help build the...                                          5
DysonHead of Security  Dyson AmericasChicago, IL 60654 (Loop area)Dyson sells products in 71 countries, and it employs almost 6,000 people globally, one third of whom are engineers and scientists....                                                                           5
Illinois Technology AssociationGrubHub - Data EngineerChicago, ILCollaborate with data scientists to design and develop processes to further business unit and company-wide data science initiatives on a common data platform....                                                 5
HirewellData ScientistDeerfield, ILData manipulation with SQL systems. Manipulate and analyze complex, high-volume, high-dimensionality data from varying sources using a variety of tools and data...                                                                             5
Willis Towers WatsonData Analytics ManagerChicago, ILBuilding upon our existing advanced analytics and data provisions services, RCS is currently broadening its big data predictive analytics capabilities and is...                                                              5
BAXTER2016 National Black MBA Association ConferenceDeerfield, ILIntegrity is imperative for all financial data, controls, and business practices. Pharmacovigilance consists of safety operations, risk management, safety data...                                                5
Selby JenningsData Scientist  Big Data/Artificial IntelligenceChicago, ILData Scientist  Big Data/Artificial Intelligence. Build data pipelines using big data technologies like Hadoop, Spark, etc....                                                                          5
Enterprise Consulting ServicesData ScientistChicago, IL 60611 (Near North Side area)We are looking to bring on board a Data Scientist for research and new product development, supporting existing teams of developers and architects....                                         5
Wolverine TradingMachine Learning Data ScientistChicago, IL 60604 (Loop area)Machine Learning Data Scientist. You will be using large data sets to create trading strategies, improve trading, quantitative research and data mining....                                           5
Digital FactoryChief Data Scientist (equity position)Chicago, ILChief Data Scientist*. We are looking for an experienced Data Scientist that will work with the Research/Development teams to provide insights into mobile data...                                                 5
Workbridge AssociatesSenior Data ScientistDes Plaines, ILAn established and industry leading company in the transportation and logistics space is looking for a Senior Data Scientist....                                                                                          5
                                                                                                                                                                                                                                                                                ...
Raise Marketplace Inc.Senior Data Warehouse EngineerChicago, IL 60603 (Loop area)Work to create data models to hold the data either at the enterprise level or a data mart level. Work with Business Analysts, Application Developers and Data...                                  5
OptiverData Scientists and Quantitative ResearchersChicago, ILData Scientists and Quantitative Researchers. Optiver is looking for Data Scientists and Quantitative Researchers to join our Chicago Office....                                                                     5
Civis AnalyticsData Scientist - Unstructured DataChicago, ILWith a specialization in unstructured data, this Data Scientist role will apply techniques from fields such as machine learning, applied statistics, natural...                                                        5
AccentureAnalytics Strategy & Transformation Manager (CPG/Retail)Chicago, ILUnderstanding of analytics roles and responsibilities (e.g., data scientist). Data management skills....                                                                                               5
Civis AnalyticsLead Data EngineerChicago, ILSurvey data, consumer data, public data, and client data. Leading agile technical delivery of data pipelines and core data assets....                                                                                                  5
Workbridge AssociatesLead Data ScientistChicago, IL 60603 (Loop area)MS in Data Science/Computer Science or RelatedExperience working with consumer driven data models in B2CStrong business intelligenceBenefits & PerksAs a...                                                   5
Allstate InsuranceSenior Data ScientistChicago, IL 60601 (Loop area) Manages data and data requests to improve the accuracy of our data and decisions made from data analysis. The Data Scientist family is accountable for using...                                              5
Civis AnalyticsData Scientist - StatisticsChicago, ILWith a specialization in statistics, this data scientist role will apply state-of-the-art statistical methods to our research as well as develop entirely new...                                                              5
York Solutions LLCKafka Streams EngineerChicago, IL Work with Business Analysts, Application Developers and Data Scientists to implement solutions using agile methodologies....                                                                                                  5
Civis AnalyticsSenior Data Scientist - EngineeringChicago, ILWith a specialization in engineering, youll tackle the challenging computational and programming problems that are critical for the creation and application of...                                                   5
ShoprunnerDirector of Data ScienceChicago, ILValues data and truth over ego. ShopRunner is looking for a seasoned Director of Data Science to join our talented engineering team....                                                                                               5
MorningstarSenior Quantitative AnalystChicago, ILAs a Senior Quantitative Analyst, you will lead the full research cycle including ideation, data acquisition, literature survey, data cleaning, hypothesis...                                                                     5
AnomalixData ScientistChicago, ILData Scientist Responsibilities will include:. Anomalix is looking for strong data scientist candidates to join a team building out our flagship enterprise...                                                                                    5
ZoetisFormulation Senior ScientistChicago Heights, ILCollect and analyze technical data, generate reports including conclusions and recommendations where needed....                                                                                                               5
Options AwayDATA SCIENTISTChicago, ILThe role combines knowledge of statistical models, pricing, insurance or financial risk models, and option pricing strategies with strong abilities in data...                                                                                5
Raise Marketplace Inc.Data EngineerChicago, IL 60603 (Loop area)Work with Business Analysts, Application Developers and Data Scientists to implement solutions using agile methodologies....                                                                                       5
Astellas Pharma Inc1650033041 - Director, RWI Data ScienceNorthbrook, IL 60062Develop data mining and/or data modeling plans to support RWI&A projects and programs. Manage, mentor and develop a high performing data scientists team through...                                  5
TempusSenior Scientist I - Clinical NGSChicago, IL 60654 (Loop area)We now have more data than ever before but providers don't have the infrastructure or expertise to make sense of said data....                                                                                 5
Illinois Technology AssociationCapital One - Digital Product Manager - Case Management TeamRolling Meadows, ILThey lead teams of designers, engineers, data scientists and analysts to define product strategy and develop, launch, and enhance products and services that...      5
Astellas PharmaceuticalsAssistant Director, Cloud Analytics StrategyNorthbrook, ILExperience with Real World Data and the regulations around RWI analytics and data. Candidate is responsible to provide distributed computing related support for...                              5
DeloitteAdvanced Analytics Enablement Big Data Senior ConsultantChicago, IL 60606 (Loop area)Experience working as a Data Scientist. Perform data studies and data discovery routines for video, voice, weblog, sensor, machine and social media data sources...                   5
Silva Capital ManagementQuantitative AnalystChicago, IL 60611 (Near North Side area)Silva Capital Management is looking for a junior quantitative analyst whose roles will include modeling stochastic risk factors underlying derivative trades                                   5
Analytic RecruitingQuantitative Statistical Modeler-Automated Trading Strategie...Chicago, ILA Proprietary trading firm in Chicago is looking for a Quantitative Statistical Modeler to join a small quantitative research team that tweaks and enhances                           5
Civis AnalyticsData Scientist - EngineeringChicago, ILWith a specialization in engineering, youll tackle the challenging computational and programming problems that are critical for the creation and application of...                                                          5
HirewellData Scientist -Fitness/Wellness FirmChicago, ILBring structure to large quantities of data - turn unstructured data into structured data. Data Extraction Tools:....                                                                                                      5
All-In AnalyticsHead of Machine Learning Big DataChicago, ILLooking for a seasoned manager very strong in machine learning and big data to build and lead a team of data scientists and engineers at a Fortune 100 company...                                                      5
University of Chicago, Center for Data Intensive SData Quality EngineerChicago, ILData Management - Participate in data acquisition and integration planning efforts including data modeling, data dictionary definitions, and data harmonization...                               5
e.biTPrincipal Data Scientist - 16-00217Chicago, ILKnowledge of and ideally some experience with tools such as Pig, Hive, etc., for working with big data in Hadoop and/or Spark for data extraction and data prep...                                                              5
SNI Technology - Chicago, ILSenior Quantitative Financial AnalystChicago, IL 60660 (Edgewater area)Experience working with large and complex data sets using Excel or SQL. Review mathematical models related to underlying assumptions, theoretical foundations,...               5
Mondelez InternationalSr. Director of Decision Solutions (Analytics and Master Dat...Deerfield, IL 60015Experience with tools and processes related to enterprise data management (global/ regional data warehouse, big data environments, metadata management processes...        5
Name: unique_id, dtype: int64